<div class="container">
    <div class="header">
        <h1>Linusu Tech Shop</h1>
        <p>Welcome to the best tech shop in town! You can buy any PC part you want as long as you have money. <br >But remember kids, don't drop your PC component!</p>
    </div>
    <button mat-raised-button color="primary"><i class="fa fa-cart-plus" style="font-size: 200%; margin-right: 10px;"></i>Add to Cart</button>
    <div class="content-custom">
        <mat-card class="card" >
            <mat-card-header>
                <mat-card-title>$390</mat-card-title>
                <mat-card-subtitle>By Filthy Frank · georgemiller@gmail.com</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <i class="fas fa-tags" mat-list-icon></i>
                        <div mat-line>Video Card</div>
                        <div mat-line>ZOTAC GeForce GTX 1060 · $209</div>
                    </mat-list-item>
                    <mat-list-item>
                        <i class="fas fa-tags" mat-list-icon></i>
                        <div mat-line>Memory</div>
                        <div mat-line>CORSAIR Vengeance RGB Pro 16GB · $97</div>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary"><i class="fas fa-trash-alt" style="margin-right: 10px"></i>Delete</button>
                <button mat-raised-button color="primary"><i class="fas fa-edit" style="margin-right: 10px"></i>Edit</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

