.container {
  width:750px;
  padding-right:.75rem;
  padding-left:.75rem;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:1.5rem!important;
  margin-top: 1.5rem!important;
}
.header {text-align: center}

.content-custom {
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  width: 100%;
  margin-top: 1.5rem;

}
